body{
    font-family: sans-serif;
}
.txt-center{
    text-align: center;
    color: #d6132a;
}
.jstfy{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d6132a;
    display: flex;
    justify-content: center;
}
.jstfy-link a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.jstfy-link a:hover{
    background-color: #b50d21;
}
.active{
    background-color: #b50d21;
}
.senter{
    margin-left: auto;
    margin-right: auto;
}
.marjin{
    margin-bottom: 20px;
}
.btn-tambah{
    color: #fff;
    background-color: #3bb367;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-tambah:hover{
    background-color: #21964c;
}
.btn-balik{
    color: #fff;
    background-color: #e0730d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-balik:hover{
    background-color: #a8610f;
}
.btn-kirim{
    color: #fff;
    background-color: #1985bf;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}
.btn-kirim:hover{
    background-color: #116999;
}
.btn-edit{
    color: #fff;
    background-color: #6d2ebf;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
}
.btn-edit:hover{
    background-color: #51228f;
}
.btn-hapus{
    color: #fff;
    background-color: #d92139;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
}
.btn-hapus:hover{
    background-color: #9e1527;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #e8e8e8;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #e8e8e8;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f5691d;
  color: white;
}
.error{
    background-color: #ff8282;
    color: #9e1527;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
